---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

	<div class="form-group mb-6 flex" {...storyblokEditable(blok)}>
		<input
			type='checkbox'
			name={blok.name}
			class="mr-4"
			id={blok.name}
            required={blok.required}
		/>
        <label for={blok.name}>{blok.label}</label>
	</div>
